dist: bionic

language: go

env: GO111MODULE=on

go:
  - 1.13.x

git:
  depth: 1

install: true

notifications:
  email: false

before_script:
  - go install github.com/golangci/golangci-lint/cmd/golangci-lint

script:
  - golangci-lint run
  - go test -v -race -coverprofile=coverage.txt -covermode=atomic ./... # for codecov
  - bash <(curl -s https://codecov.io/bash)                             # ref. https://github.com/codecov/example-go
